<!DOCTYPE html>
<html>

<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>TaskManage </title>
<meta name="keywords" content="cloud computing,optimization,simulation,SaaS,PaaS,marketing,service" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<head>

 <h1>User Task Management Options</h1>

</head>

<body>
<div>
 <form>
<p>
<a href="http://localhost:8000/mytasks" ><b> Show Tasks of My Own</a></b>
</p>
<p>
<a href="http://localhost:8000/myopentasks/" ><b> Show Open Tasks of My Own</a></b>
</p>
<p>
<a href="http://localhost:8000/allopentasks/" ><b> Show All Open Tasks</a></b>
</p>
<p>
<a href="http://localhost:8000/alltasks" ><b> Show All Tasks</a></b>
</p>

<p>
<a href="http://localhost:8000/addtask" ><b> Add  a Task</a></b>
</p>
<p>
<a href="http://localhost:8000/edit/" ><b> Edit a Task </a></b>
</p>
<p>
<a href="http://localhost:8000/assign/" ><b> Assign a Task </a></b>
</p>
<p>
<a href="http://localhost:8000/delete/" ><b> Delete a Task </a></b>
</p>
<p>
<a href="http://localhost:8000/close/" ><b>Change Task Status to Completed</a></b>
</p>
<p>
<a href="http://localhost:8000/showclosed/"><b>Show all closed Task</a></b>
</p>
<p>
<a href="http://localhost:8000/myclosed/"><b>Show my closed Task</a></b>
</p>
<a href="http://localhost:8000/hide/"><b> Hide Completed Tasks</a></b>
<p>
   <a href="http://localhost:8000/logout/"><b> Logout task management page</a></b>
</form>
</body>
</html>



